// GLOBAL STYLE CONFIGURATIONS

// Font Declarations:
@font-face {
  font-family: "PlayfairDisplay";
  src: url("/assets/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Cinzel";
  src: url("/assets/Cinzel-VariableFont_wght.ttf") format("truetype");
}

// FONTS:
$font: "PlayfairDisplay";
$titleFont: "Cinzel";
$fontSize: 18px; // minimum font size for Mobile
$lineHeight: 1.2; // standard, but should be 1.5 in paragraphs
$letterSpacing: 0.05rem;

// COLOR PALLET:
$themeColor1: #624d99;
$themeColor2: #e6c300;
$themeColor3: #4b649b;
$white: white;
$black: black;
$green: #4ca952;
$blue: #1a357a;
$red: #e60000;

// Margins && Paddings:
$paddingDesktop: 24px;
$paddingMobile: 18px;
$appTopMargin: 90px;
$siteFooterHeight: 24rem;
$siteMobileFooterHeight: 42rem;
