@import "./variables";

header {
  background-color: $themeColor1;

  .content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .title {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 16px;

      padding: 12px 16px;
      font-size: 26px;

      background-color: $themeColor2;
      font-family: $titleFont;
    }

    .nav {
      display: flex;
      justify-content: space-evenly;
      align-items: flex-end;
      gap: 18px;
      padding: 12px 18px;
    }

    a {
      text-decoration: none;
      font-size: 20px;
      color: $white;
    }

    a.active {
      color: $themeColor2;
    }

    .menu-icon {
      display: none;
    }
  }
}

main {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 100px 0;
}

footer {
  background-color: $themeColor2;

  .content {
    max-width: 1200px;
    margin: auto;
    color: $black;
    padding: $paddingDesktop;
  }
}
